PROJECT_NAME="PMI-AI: Predictive Maintenance Intelligence System"
API_KEY="pmi_ai_default_secret_key_2026"
DEBUG=True

# InfluxDB
INFLUXDB_URL=http://localhost:8086
INFLUXDB_TOKEN=your-token-here
INFLUXDB_ORG=pmi-ai
INFLUXDB_BUCKET=telemetry
